<form action="" method="post">
	<table>
		<tr><td><label>自由度:</label></td></tr>
		<tr>
			<td><label>點不點名:</label></td>
			<td>
				<input type="radio" name="check_present_TrueFalse" value="1">1<br>
				<input type="radio" name="check_present_TrueFalse" value="2">2<br>
				<input type="radio" name="check_present_TrueFalse" value="3">3<br>
				<input type="radio" name="check_present_TrueFalse" value="4">4<br>
				<input type="radio" name="check_present_TrueFalse" value="5">5<br>
			</td>
		</tr>
		<tr>
			<td><label>點名扣分:</label></td>
			<td>
				<input type="radio" name="punish_present_TrueFalse" value="1">1<br>
				<input type="radio" name="punish_present_TrueFalse" value="2">2<br>
				<input type="radio" name="punish_present_TrueFalse" value="3">3<br>
				<input type="radio" name="punish_present_TrueFalse" value="4">4<br>
				<input type="radio" name="punish_present_TrueFalse" value="5">5<br>
			</td>
		</tr>
	</table>
</form>